<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YLScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92C1C01D1F5FECD600C60898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92C1C0361F5FECD700C60898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92C1C0411F5FECD700C60898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
